.form {
  padding: 20px;
  border-radius: 17px;
  box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.09);
  margin-bottom: 2.5em;
}

.feed {
  box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.09);
  padding: 20px;
  border-radius: 17px;
  margin-bottom: 6em;

  &__beat {
    margin: 50px 30px;
  }
}

.beat {
  &__box {
    border-radius: 17px;
    box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.09);
    padding: 30px 20px;
    
    display: grid;
    grid-template-rows: 1fr 1fr;

    @media only screen and (max-width: 830px) {
      grid-template-rows: 1fr;
    }

    &--1 {
      display: flex;
      align-content: space-between;
      justify-content: space-between;
      margin-bottom: 1.5em;

      @media only screen and (max-width: 830px) {
        margin-bottom: 0;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
    }

    &--2 {
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      @media only screen and (max-width: 830px) {
        flex-direction: column;
      }
    }
  }

  &__details {
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
    font-size: 0.85rem;

    @media only screen and (max-width: 830px) {
      justify-content: center;
    }

    &--date {
      color: $dark-grey;
      font-weight: 200;
      // align-self: flex-start;
      flex-basis: 100%;
    }

    &--text {
      color: $dark-grey;
      font-weight: 200;
      flex: 0 0 auto;
    }

    &--user {
      color: $dark-blue;
      padding-left: 5px;
      font-weight: 500;
    }
  }
}

.tag-list {
  &__artist {
    padding: 10px 15px;
    border-radius: 12px;
    background-color: $dark-blue;
    color: white;
    font-weight: 200;
    font-size: 1rem;
    transition: all .1s ease-in-out;
    text-align: center;
    overflow: hidden;
    min-width: 50px;
    width: auto;

    &:hover {
      transform: scale(.95);
      box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.06);
    }

    &:not(:first-child) {
      margin-left: 7px;
    }

    @media only screen and (max-width: 830px) {
      margin-bottom: 0.2em;
      
      &:not(:first-child) {
        margin-left: 0;
        align-self: center;
      }
    }
  }
}

.box {
  &__info {
    font-weight: 300;
    display: inline-flex;
    align-content: center;
    align-items: center;

    max-width: 130px;

    @media only screen and (max-width: 830px) {
      margin-bottom: 1em;
    }

    &--bpm {
      padding-left: 15px;
    }
  }

  &__tag-list {
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
    align-self: flex-end;
    justify-self: flex-end;

    box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.09);
    border-radius: 17px;
    padding: 5px;
    width: auto;

    @include mq(s) {
      align-items: center;
    }

    @media only screen and (max-width: 830px) {
      align-self: center;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    text-decoration: none;
    color: $dark-blue;
    font-weight: 600;
    align-self: center;

    @media only screen and (max-width: 830px) {
      margin-bottom: 0.5em;
    }

    &:hover {
      color: $prim-blue;
    }
  }

  &__interaction {
    display: inline-flex;
    
    @media only screen and (max-width: 830px) {
      margin-bottom: 1em;
      margin-top: 1em;
    }

    a {
      text-decoration: none;
      color: $prim-blue;

      &:not(:first-child) {
        padding-left: 8px;
      }

      &:hover {
        color: lighten($prim-blue, 10%);
      }
    }
  }

  &__player {
    display: inline-flex;
  }
}

.beat-inputs {
  display: grid;
  grid-template-columns: 3fr 6.5em 6.5em;
  grid-gap: 15px;

  @media only screen and (max-width: 920px) {
    grid-template-columns: 1fr; 
    grid-gap: 0;
  }

  &__button {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.beat-inputs-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;

  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr; 
    grid-gap: 0;
  }
}

.filter {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  &__inputs {
    display: grid;
    grid-template-columns: 7.5em 7.5em 7.5em 3fr;
    grid-gap: 15px;

    @media only screen and (max-width: 1160px) {
      grid-template-columns: 1fr 1fr; 
      grid-gap: 15px;
    }

    @media only screen and (max-width: 900px) {
      grid-template-columns: 1fr !important; 
      grid-gap: 0;
      width: 100%;
    }
  }
}

.stems {
  width: 75%;
  margin: 0 auto;
  border-radius: 17px;
  box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.09);
  padding: 30px 20px;
  margin-bottom: 6em;
}

.stem {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &__name {
    margin-right: auto;
  }

  &__audioplayer {
    margin-left: auto;
  }

  &__delete {
    padding-left: 15px;
  }
}

.add-stems {
  width: 75%;
  margin: 0 auto;
  border-radius: 17px;
  box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.09);
  padding: 30px 20px;

  margin-bottom: 40px;

  &__inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    

    &--name {
      flex: 1;
      width: 90%;
      margin: 10px;

      
    }

    &--link {
      flex: 1;
      width: 90%;
      margin: 10px;

      @include mq(m) {
        margin: 0;
      }
    }

    @include mq(m) {
      flex-direction: column;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 80px;
    margin-top: 20px;
    // margin-bottom: 10px;
  }
}

.delete-link {
  display: flex;
  justify-content: center;
  padding-top: 1em;

  a {
    color: $dark-grey;
    text-decoration: none;
    margin: 0 auto;

    &:hover {
      color: $prim-red;
    }
  }
  
}