.collab-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.collaboration {
  // min-width: 600px;
  height: 83px;
  border-radius: 17px;
  background: white;
  box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  align-items: center;
  flex-direction: row;
  color: $dark-blue;
  margin-bottom: 2em;

  @include mq(m) {
    flex-direction: column;
  }

  &:last-child {
    margin-bottom: 0em;
  }

  &__link {
    text-align: center;

    &--text {
      text-decoration: none;
      font-weight: 300;
      color: $old-grey;
      display: inline;
    }

    &--beat {
      text-decoration: none;
      color: $dark-blue;

      &:hover {
        color: $prim-blue;
      }
    }

    &--producer {
      text-decoration: none;
      font-weight: 600;
      color: $dark-blue;

      &:hover {
        color: $prim-blue;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 1em;

    >:hover {
      transition: all 0.1s ease-in-out;
      transform: scale(1.05);
    }

    &--approve {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 82px;
      height: 53px;
      border-radius: 17px;
      background-image: linear-gradient(45deg, $prim-blue 0%, $prim-purp 90%);
      box-shadow: 0px 6px 49px rgba(0, 0, 0, 0.16);
      transition: all 0.1s ease-in-out;
    }
    
    &--decline {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 82px;
      height: 53px;
      border-radius: 17px;
      background: $prim-red;
      box-shadow: 0px 6px 49px rgba(0, 0, 0, 0.16);
      transition: all 0.1s ease-in-out;
    }
  }
}

.incoming-wrapper {
  padding-top: 2em;
}

.decline-wrapper {
  padding-left: 0.75em;
}

.outgoing-colloboration {
  height: 83px;
  border-radius: 17px;
  background: white;
  box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: center;
  padding: 0 1em;
  align-items: center;
  flex-direction: row;
  color: $dark-blue;
  margin-bottom: 2em;
}

.span-collab {
  margin-right: 0.35em;
}

.activecollabs {
  margin-bottom: 2em;
}