.login {
  display: flex;  
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__box {
    -webkit-appearance: none;
    box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.05);
    border-radius: 17px;
    padding: 90px 100px 40px 100px;
    transition: all 1s ease-in-out;

    &:hover {
      -webkit-appearance: none;
      box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.08);
    }

    @include mq(s) {
      padding: 2em 100px 40px 100px;
    }
  }

  &__logo {
    display: block;
    width: 90%;
    min-height: 5em;
    height: auto;
    margin: 0 auto 70px auto;

    @include mq(s) {
      margin: 0 auto 1em auto;
      min-height: 10em;
      min-width: 10em;
    }
  }

  &__form {
    width: 100%;

    .button {
      margin: 0 auto 30px auto;
    }
  }

  &__pass-button {
    display: block;
    width: 8%;
    height: auto;
  }

  &__field-wrapper {
    display: flex;
    flex-flow: column-reverse;
  }

  &__field {
    width: 100%;
    height: 50px;
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5em;
    color: $dark-grey;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $dark-grey;
    border-radius: 0;
    outline: none;

    &--password {
      margin-bottom: 55px;

      @include mq(s) {
        margin-bottom: 2em;
      }
    }

    &::placeholder {
      font-weight: 300;
      font-size: 1rem;
      padding-left: 5px;
      color: $dark-grey;
    }
  }

  &__register {
    color: $dark-grey;
    font-weight: 300;
    font-size: 1rem;
    margin: 0 auto;
    display: block;
    // padding-top: 30px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }

    &-link {
      color: $dark-grey;
      text-decoration: none;
      padding-left: 5px;
      transition: color 0.5s ease;
      font-weight: 400;

      @include mq(s) {
        padding-top: 5px;
      }

      &:hover {
        color: $dark-blue;
        transition: color 0.5s ease;
      }
    }
  }

  &__input {
    position: relative;
    width: 100%;

    label, input {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      transition: all 0.2s;
      touch-action: manipulation;
    }

    input:placeholder-shown + label {
      font-weight: 300;
      font-size: 0.85rem;
      padding-left: 2px;
      margin-bottom: -1em;
      color: $dark-grey;

      cursor: text;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transform-origin: left bottom;
      transform: translate(0, 2em) scale(1.25);
    }

    ::-webkit-input-placeholder {
      opacity: 0;
      transition: inherit;
    }

    input:focus::-webkit-input-placeholder {
      opacity: 1;
    }

    input:not(:placeholder-shown) + label,
    input:focus + label {
      font-weight: 300;
      font-size: 1rem;
      padding-left: 5px;
      color: $dark-grey;
      transform: translate(0, 0) scale(1);
      cursor: pointer;
    }
  }
}