$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.login {
  background-image: linear-gradient(45deg, $prim-blue 0%, $prim-purp 90%);
  width: 100%;
  height: 100%;
  color: white;

  @media only screen and (max-width: 990px) {
    background-image: linear-gradient(45deg, $prim-blue 30%, $prim-purp 120%);
  }

  a {
    position: relative;
    padding-bottom: 2px;
  
    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0; right: 0;
      height: 2px;
      background-color: white;
    }
    &:before {
      opacity: 0;
      transform: translateY(- $distance);
      transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
      opacity: 0;
      transform: translateY($distance/2);
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
      &:before,
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
      &:before {
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:after {
        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
      }
    }
  }

  &__link {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.85rem;
  }

  &__field {
    background: rgba(0, 0, 0, 0);;
    border-radius: 6px;
    border: 2px solid white;
    border-color: white;
    width: 100%;
    padding: 0.65em 0;
    outline: none;
    color: white;
    margin-bottom: 1em;
    text-indent: 5.5%;
    font-size: 1.125em;
    font-weight: 300;
    font-family: "Poppins";

    @media only screen and (max-width: 990px) {
      width: 70%;
    }

    &::placeholder {
      color: white;
      font-family: "Poppins";
      font-weight: 300;
      opacity: 1;
    }
  }

  &__box {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 990px) {
      flex-direction: column;
    }
  }

  .left {
    font-family: "Poppins";
    padding-top: 2em;
    padding-left: 10%;
    width: 50vw;

    @media only screen and (max-width: 990px) {
      width: 100vw;
      display: flex;
      padding-left: 0;
      justify-content: center;
      align-content: center;
      align-items: center;
    }

    &__content {
      width: 85%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media only screen and (max-width: 990px) {
        text-align: center;
      }
    }
  }

  .content {
    &__logo {
      text-align: left;
      svg {
        height: 30px;
      }
      padding-bottom: 4em;

      @media only screen and (max-width: 990px) {
        padding-bottom: 3em;
      }
    }

    &__text {
      padding-bottom: 3em;

      @media only screen and (max-width: 990px) {
        padding-bottom: 2em;
      }
      &--headline {
        font-size: 3.5em;
        font-weight: 500;
        padding-bottom: 0.3em;
      }

      &--cta {
        font-size: 1.2em;
        line-height: 1.75em;
        font-weight: 300;
      }
    }

    &__form {
      width: 70%;
      padding-bottom: 3em;
      @media only screen and (max-width: 990px) {
        padding-bottom: 1em;
        width: 100%;
      }
    }

    &__footer {
      padding-bottom: 5em;
      @media only screen and (max-width: 990px) {
        // padding-bottom: 2em;
        display: none;
      }
    }

  }

  .right {
    background: white;
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.10);

    @media only screen and (max-width: 990px) {
      width: 100vw;
    }

    &__toprightrect {
      overflow: hidden;
      svg {
        height: 43em;
        position: absolute;
        top: -170px;
        right: -620px;

        @media only screen and (max-width: 990px) {
          top: -170px;
          right: -820px;
        }
      }
      
    }

    &__downleftrect {
      overflow: hidden;
      svg {
        position: absolute;
        height: 21.5em;
        bottom: -170px;
        left: -200px;

        @media only screen and (max-width: 990px) {
          height: 21.5em;
          bottom: -170px;
          left: -400px;
        }
      }
    }

    &__illustration {
      overflow: hidden;
      position: relative;

      @media only screen and (max-width: 990px) {
        overflow: visible;
        padding-right: 3em;
        padding-bottom: 5em;
      }
      svg {
        height: 45em;

        @media only screen and (max-width: 990px) {
          height: 42em;
        }
      }
    }

    &__footer {
      display: none;
      @media only screen and (max-width: 990px) {
        display: block;
        color: red;
      }
    }
  }

  &__button {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -webkit-appearance: none;
    color: #613CF4;
    background-color: white;
    border: 0;
    // width: 6.5em;
    padding: 0 2em;
    height: 2.3em;
    font-size: 1.1em;
    font-family: "Poppins";
    transition: all .2s ease-in-out;

    @media only screen and (max-width: 990px) {
      margin-bottom: 1em;
    }

    &:hover {
      // box-shadow: 0px 8px 49px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transform: scale(1.03);
    }
  }
}

.interactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 990px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media only screen and (max-width: 990px) {
    justify-content: center;
    align-items: center;
    padding-right: 0;
    padding-bottom: 4em;
  }
}

.signup {
  font-weight: 300;
  font-size: 0.85rem;

  @media only screen and (max-width: 990px) {
    padding-bottom: 0.2em;
  }
}

.lpfooter {
  display: none;

  @media only screen and (max-width: 990px) {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    margin-top: -3em;
    // color: #9385fc;
    color: #494ce7;
  }
}