.favorites {
  box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.09);
  padding: 20px;
  margin-bottom: 40px;
}

.user-beats {
  box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.09);
  padding: 20px;
}

.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-gap: 15px;

  @media only screen and (max-width: 1680px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @media only screen and (max-width: 1420px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @media only screen and (max-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media only screen and (max-width: 1140px) {
    grid-template-columns: 1fr 1fr 1fr; 
  }

  @media only screen and (max-width: 880px) {
    grid-template-columns: 1fr 1fr; 
  }
}

.beat {
  height: 100px;
  width: 100px;
  // box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .1s ease-in-out;

  
  margin: 10px;
  
  &:hover {
    transform: scale(1.08);
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  }
  
  @include mq(s) {
    align-self: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
  }

  &__link {
    text-decoration: none;
    color: $dark-blue;
    font-weight: 500;
    margin-bottom: 5px;
    hyphens: auto;
    text-align: center;

    &:hover {
      color: $prim-blue;
    }
  }

  &__producer {
    color: $dark-grey;
    font-size: 0.8rem;
    margin-bottom: 15px;
    font-weight: 300;
    hyphens: auto;
    text-align: center;

    a {
      color: $dark-grey;
      font-size: 0.8rem;
      margin-bottom: 15px;
      font-weight: 300;
      hyphens: auto;
      text-align: center;
      text-decoration: none;

      &:hover {
        color: darken($dark-grey, 10%);
      }
    }
  }

  &__like {

    a {
      text-decoration: none;

      &:hover {
        color: lighten($prim-blue, 10%);
      }
    }
  }
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 15px;

  @include mq(s) {
    grid-template-columns: 1fr; 
    grid-gap: 0;
  }
  @include mq(m) {
    grid-template-columns: 1fr; 
    grid-gap: 0;
  }
}

.profile {
  border-radius: 17px;
  box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  padding: 20px;
  margin-bottom: 6em;

  &__button {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;

  &__headline {
    margin-bottom: 10px;
  }

  &__info {
    color: $dark-grey;
    font-weight: 300;

    &--important {
      color: $dark-blue;
      font-weight: 500;
      display: inline;

      a {
        color: $dark-blue;
        // padding-left: 5px;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          color: lighten($dark-blue, 20%);
        }
      }

    }
  }
}

.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.contact {
  width: 75%;
  margin: 0 auto;
  border-radius: 17px;
  box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.09);
  padding: 30px 20px;
  margin-bottom: 6em;

  @include mq(s) {
    text-align: center;
    width: 100%;
  }

  &__email {
    text-align: center;
    word-break: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
  }

  &__button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
  }
}