.favorites {
  border-radius: 17px;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  padding: 20px;
  margin-bottom: 40px;
}

.beat {
  height: 40px;
  padding: 20px;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
}

.user-beats {
  border-radius: 17px;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  padding: 20px;
}

.profile {
  border-radius: 17px;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  padding: 20px;
  margin-bottom: 100px;
}

.name {
  margin-bottom: 40px;
}