.button {
  display: block;
  padding-top: 3em;
  border: 0;
  padding: 18px;
  width: 13em;
  font-size: 1.25em;
  border-radius: 19px;

  -webkit-box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.05);

  &--standard {
    color: $white;
    background: linear-gradient(45deg, $prim-blue, $prim-purp);

    &:hover {
      cursor: pointer;
      animation-name: button-hover;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-direction: linear;
    }
  }

  @keyframes button-hover {
    0% {
      background: linear-gradient(45deg, $prim-blue, $prim-purp);
    }

    100% {
      background: linear-gradient(-15deg, $prim-blue , $prim-purp);
    }
  }
}