.input {
  border: 0;
  font-size: 1rem;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  // line-height: 3;
  height: 50px;
  padding-left: 15px;

  -webkit-box-shadow: 0px 5px 50px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 5px 50px 0px rgba(0,0,0,0.08);
  box-shadow: 0px 5px 50px 0px rgba(0,0,0,0.08);

  &--standard {
    color: $dark-blue;
    margin: 10px;

    &:hover {
    
    }

    &::placeholder {
      color: $dark-grey;
      font-weight: 200;
    }
  }
}