.input {
  display: block;
  padding-top: 3em;
  border: 0;
  padding: 17px;
  width: 8.25em;
  font-size: 1em;
  border-radius: 17px;

  -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);
  box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.10);

  &--standard {
    color: $dark-blue;
    margin: 20px;

    &:hover {
    
    }

    &::placeholder {
      color: $dark-grey;
      font-weight: 200;
    }
  }
}