.input {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  border: 0;
  border-radius: 13px;
  margin: 0;
  height: 50px;
  padding-left: 15px;
  -webkit-appearance: none;
  box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.07);
  transition: all .2s ease-in-out;

  display: block;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.09);
  }

  &--standard {
    color: $dark-blue;
    margin: 10px 0;

    &::placeholder {
      color: $dark-grey;
      font-weight: 200;
    }
  }

  &--nomargin {
    @include mq(m) {
      margin: 0;
    }

    @media only screen and (max-width: 900px) {
      margin: 10px 0;
    }
  }

  &--select {
    color: $dark-grey;
    margin: 10px 0;
    background-color: white;
    /* needed */
    appearance: none;
    /* SVG background image */
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#C4CAD3'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 12px;
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    font-weight: 200;

    &--nomargin {
      @include mq(m) {
        margin: 0;
      }
  
      @media only screen and (max-width: 900px) {
        margin: 10px 0;
      }
    }
    
    &::placeholder {
      color: $dark-grey;
      font-weight: 200;
    }
  }
}