.feed
  %h2.headline Feed

  - if @beats
    = render "filter"
    #beats-container
      = render @beats
    = link_to "Load more", beats_path(page: @beats.current_page+1), id: "load-more-beats", remote: true