- content_for :title, 'Beat Feed'
= render 'users/profile'
= render 'form'
%h2 Beat Feed
%h3 Filter by
.search
  %input{placeholder: 'BPM'}
  %input{placeholder: 'Key'}
  %input{placeholder: 'Type Beat Artists (seperated by commas)'}
= render 'feed'