.header {
  font-weight: 300;
  font-size: 1rem;
  padding: 40px;
  padding-bottom: 70px;
  width: 60%;
  max-width: 80em;

  &__nav {
    display: flex;

    a {
      display: block;
      padding: 15px;
      margin: 10px;
      color: $dark-blue;
      font-weight: 200;
      text-decoration: none;

      &:hover {
        color: $prim-blue;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      font-weight: 500 !important;
    }

    &:first-child {
      margin-right: auto;
      margin-top: 1.25em;
      width: 10rem;
      min-width: 5rem;
      height: auto;
      display: block;
    }
  }
}
