.header {
  font-weight: 300;
  font-size: 1rem;
  padding: 40px;
  padding-bottom: 70px;
  width: 60%;
  max-width: 80em;

  &__nav {
    display: flex;
    
  }

  &__item {

    &--active {
      font-weight: 500 !important;
    }

    &:first-child {
      align-self: center;
      
      margin-right: auto;
      width: 10rem;
      min-width: 7rem;
      height: auto;
      display: block;
    }
  }

  a {
    display: block;
    padding: 5px;
    margin: 10px;
    color: $dark-blue;
    font-weight: 200;
    text-decoration: none;

    &:hover {
      color: $prim-blue;
    }
  }
}
