// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Lato');

$dark-blue: #202837;
$dark-grey: #C4CAD3;
$prim-blue: #204CEB;
$prim-purp: #AE28FE;
$white: #FFFFFF;

body {
  background-color: $white;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__label-foo {
    background: red;
  }

  &__checkbox input {
    background-color: red;
    height: 20px;
    color: red;
  }
  
  &__box {
    -webkit-box-shadow: 0px 8px 35px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 8px 35px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 8px 35px 0px rgba(0,0,0,0.15);
    border-radius: 17px;
    height: 520px;
    width: 30%;
  }

  &__register {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-grey;
    padding-top: 2em;

    a {
      padding-left: 0.2em;
      color: $dark-grey;
      text-decoration: none;
      -webkit-transition: color 0.1s linear;
      -ms-transition: color 0.1s linear;
      transition: color 0.1s linear;

      &:hover {
        color: $dark-blue;
        -webkit-transition: color 0.1s linear;
        -ms-transition: color 0.1s linear;
        transition: color 0.1s linear;
      }
    }
  }

  .login__logo {
    padding-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 40px;
      padding-bottom: 3em;
    }
  }

  .login__form {
    display: flex;
    align-items: center;
    justify-content: center;

    &__button {
      padding-top: 3em;
      border-radius: 4px;
      border: 0;
      color: $white;
      background-color: $dark-blue;
      padding: 20px;
      width: 13em;
      font-size: 1.25em;
      -webkit-transition: background-color 0.1s linear;
          -ms-transition: background-color 0.1s linear;
              transition: background-color 0.1s linear;

      &:hover {
        background-color: lighten($dark-blue, 10%);
        cursor: pointer;
        -webkit-transition: background-color 0.1s linear;
            -ms-transition: background-color 0.1s linear;
                transition: background-color 0.1s linear;
      }
    }

    &__input {
      position: relative;

      &--email label {
        position: absolute;
        color: $dark-grey;
        top: 10px;
      }

      &--email input {
        border-style: none;
        padding: 15px;
        color: $dark-grey;
        border-bottom: 2px solid $dark-grey;
        width: 75%;

        label :focus {
          color: $white;
        }
      }

      &--password label {
        position: absolute;
        color: $dark-grey;
        top: 55px;
      }
      &--password input {
        border-style: none;
        padding: 15px;
        border-bottom: 2px solid $dark-grey;
        width: 75%;
      }
      
    }
  }
}